<div class="content-accented">
  <h2>Hi, my name is (actually) Adam Gleichsner.</h2>
  <br/>
  <div class="margin-large float-right flex-center flex-column hideable">
    <img src="/images/me.png" class="image-small"/>
    <pre>I look something like this</pre>
  </div>
  <p>
    I'm a Pennsylvania transplant living in Columbus, OH, and have been here for a little over a year now. Before this, I was finishing my undergraduate degree in Computer Science at Case Western Reserve University, located in sunny Cleveland, OH.
  </p>
  <br/>
  <p>By day, I'm a fullstack software engineer, working on anything and everything, from the front-most portions of webapps all the way back to database optimization, server scripting, and more. By night, I'm still an engineer, but I also write (nonfiction, poetry, and the occasional start of a novel), do outdoorsy things like camping and canoeing, and start weird projects like fixing a typewriter or reassembling an entire bicycle for fun and negative profit margins.
  </p>
  <br/>
  <p>
    I've worked on apps bringing <a href='https://twitter.com/lufthouse'>context-aware information into innovative places</a>, classes teaching programming concepts by <a href='https://github.com/fusecodecamp2017/BattleBuddies'>scripting bots in a Hunger Games style arena</a>, and <a href='http://www.cardinalhealth.com/en/services/acute/business-solutions/operational-solutions/inventory-management-services/cardinal-health-inventory-management-solutions.html'>inventory management solutions</a> that streamline patient care and cost in clinics across the country.
  </p>
  <br/>
  <p>
    I primarily work in EmberJS, Java, and Ruby in my free time, but being a polyglot is in my DNA; in fact, here's a running list of the languages I've used (and abused) so far:
  </p>

  <div class="list-auto margin-large">
  {{#each usedLanguagesSorted as |language|}}
    <p class="margin-smallest">{{language}}</p>
  {{/each}}
  </div>
</div>