<div class="content-accented flex-column flex-center">

  <h2 class="">Questions? Comments? Concerns? Puns?</h2>
  <p class="padding-largest-top text-center">
    For business and freelance inquiries, please reach out via email, but otherwise, feel free to follow me or send me messages on Twitter, LinkedIn, GitHub, or MySpace.
  </p>
  <br/>
  <p class="text-center">
    (Just kidding on that last one.)
  </p>
  <div class="flex-row padding-larger-top">
    <a href="mailto:gleichsnerd@gmail.com"><i class="padding-normal fa fa-envelope fa-3x"/></a>
    <a href="www.twitter.com/gleichsnerd"><i class="padding-normal fa fa-twitter fa-3x"/></a>
    <a href="www.linkedin.com/in/gleichsnerd"><i class="padding-normal fa fa-linkedin fa-3x"/></a>
    <a href="www.github.com/gleichsnerd"><i class="padding-normal fa fa-github fa-3x"/></a>
  </div>

</div>
