<div class="nametag">
  <div class="nametag-top flex-column flex-center">
    <h2 class="flex-horizontal-center">HELLO</h2>
    <h4 class="flex-horizontal-center text-light">my name is</h4>
  </div>
  <div class="nametag-middle flex-column flex-center">
    <h1 class="gleichsnerd">gleichsnerd</h1>
  </div>
  <div class="nametag-bottom flex-center">
  {{nav-bar isAtTop=false}}
  </div>
</div>

