{{#if isAtTop}}
  {{#link-to "index" class="margin-smaller"}}
    <h3 class="gleichsnerd">gleichsnerd</h3>
  {{/link-to}}
{{/if}}
<div class="flex-grow flex-end">
{{#link-to "about-me" class="margin-smaller"}}About Me{{/link-to}}
{{#link-to "projects" class="margin-smaller"}}Projects{{/link-to}}
{{#link-to "resume" class="margin-smaller"}}Resume{{/link-to}}
{{#link-to "contact-me" class="margin-smaller"}}Contact Me{{/link-to}}
</div>
