<div class="content-accented flex-column align-items-center">
  <h2>Download the pdf <a href="https://github.com/gleichsnerd/resume/raw/master/adam_gleichsner_resume.pdf">here</a></h2>
  <img src="/adam_gleichsner_resume.png" class="pdf padding-largest"/>
</div>