<img src="/images/morty.png" class="image-normal"/>
<h1 class="margin-largest flex-center flex-grow">Oh geez, Rick</h1>
<div class="under-construction-text">
  <h4 class="margin-small flex-grow">It-it looks like this page isn't here yet.</h4>
  <h4 class="margin-small flex-grow italic">Relax, Morty, it'll get here--</h4>
  <h2 class="margin-small flex-grow flex-center italic">*burrrp*</h2>
  <h4 class="margin-small flex-grow flex-end italic">...it'll get here eventually.</h4>
</div>