/* Third party imports */
@import "ember-modal-dialog/ember-modal-structure";
@import "ember-modal-dialog/ember-modal-appearance";

/* Import variables */
@import "variables";

/* Html overrides */

html, 
body {
  height: 100%;
  width: 100%;

  margin: 0;
  padding: 0;

  color: $black;

  font-family: 'Lato', sans-serif;
  font-weight: 400;

  background-color: $white;
  background-image: $topography;

  overflow: hidden;
}

body.blue-background {
  background-color: $light-blue;
}

a {
  color: $light-blue;
}
a:visited {
  color: $dark-blue;
}

h1, 
h2, 
h3, 
h4, 
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

body > .ember-view {
  @extend .flex-row, .flex-grow;
}

/* Text stuffs */
.text- {
  &left {
    text-align: left;
  }

  &center {
    text-align: center;
  }

  &right {
    text-align: right;
  }
}

.italic {
  font-style: italic;
}

.text-light {
  font-weight: 300;
}

/* Flexbox Classes */

[class*="flex"], .flex {
  display: flex;
}

.flex- {

  &row {
    flex-direction: row;
  }

  &column {
    flex-direction: column;
  }

  &grow {
    flex-grow: 1;
    width: 100%;
    height:100%;
  }

  &center {
    justify-content: center;
    align-content: center;
    align-items: center;
  }

  &horizontal-center {
    justify-content: center;
  }

  &end {
    justify-content: flex-end;
    align-content: flex-end;
    align-items: flex-end;
  }

  &wrap {
    flex-wrap: wrap;
  }

  &space {
    &-between {
      justify-content: space-between;
    }

    &-around {
      justify-content: space-around;
    }
  }
}

/* Images */

.image-normal {
  width: $image-normal;
  max-width: 250px;

  height: $image-normal;
  max-height: 250px;
}

.image-small {
  width: $image-small;
  max-width: 200px;

  height: $image-small;
  max-height: 200px;
}

.image-smaller {
  width: $image-smaller;
  max-width: 150px;

  height: $image-smaller;
  max-height: 150px;
}

.image-smallest {
  width: $image-smallest;
  max-width: 75px;

  height: $image-smallest;
  max-height: 75px;
}

/* Padding & margins */

.padding {

  &-no {
    &-bottom {
      padding-bottom: 0;
    }
  }

  &-smallest {
    padding: $padding-smallest;
  }

  &-smaller {
    padding: $padding-smaller;

    &-left {
      padding-left: $padding-smaller;
    }
  }

  &-small {
    padding: $padding-small;

    &-left {
      padding-left: $padding-small;
    }
  }

  &-normal {
    padding: $padding-normal;

    &-top {
      padding-top: $padding-normal;
    }

    &-bottom {
      padding-bottom: $padding-normal;
    }

    &-right {
      padding-right: $padding-normal;
    }

    &-left {
      padding-left: $padding-normal;
    }
  }

  &-large {
    padding: $padding-large;

    &-top {
      padding-top: $padding-large;
    }

    &-right {
      padding-right: $padding-large;
    }

    &-bottom {
      padding-bottom: $padding-large;
    }
  }

  &-larger {
    padding: $padding-larger;

    &-top {
      padding-top: $padding-larger;
    }
  }

  &-largest {
    padding: $padding-largest;

    &-top {
      padding-top: $padding-largest;
    }

    &-bottom {
      padding-bottom: $padding-largest;
    }

    &-right {
      padding-right: $padding-largest;
    }
  }
}

.margin {
  &-smallest {
    margin: $padding-smallest;
  }

  &-smaller {
    margin: $padding-smaller;
  }

  &-small {
    margin: $padding-small;
  }

  &-normal {
    margin: $padding-normal;
  }

  &-large {
    margin: $padding-large;
  }

  &-larger {
    margin: $padding-larger;
  }

  &-largest {
    margin: $padding-largest;
  }
}

/* Icons */

.icon-normal {
  font-size: $icon-normal;
}

/* Application Div Wrapper*/

.application {
  @extend .flex;

  flex-direction: column;
  flex-grow: 1;

  @media screen and (min-width: 610px) {
    flex-direction: row;
  }

  margin: auto;
  width: 100%;
  height: 100%;
  

}

/* nav bar */

.nav-bar-embedded {
  color: $white;
  font-weight: 300;

  a {
    color: $white;
    text-decoration: none;
  }

  a:hover {
    color: $dark-blue;
  }
}

.scroll-container > div {
  width: 100%;
}

.nav-bar {
  @extend .nav-bar-embedded;

  background-color: $light-blue;
  background-image: $topography;

  flex-shrink: 0;

  @media screen and (min-width: 610px) {
    flex-direction: column;
  }
}

.nav-links.flex-row .active {
  @extend .padding-no-bottom;
}


.hideable {
  @media screen and (max-width: 609px) {
    display: none;
  }
}

/* Home page nametag */

.nametag {

  height: 187px;
  width: 300px;

  @media screen and (min-width:610px) {
    height: 200px;
    width: 320px;
  }
  
  border-radius: $border-radius-normal;
  background-color: $light-red;
}

.nametag-logo {
  @extend .nametag;

  align-self: center;

  min-height: 60px;
  max-height: 60px;
  min-width: 96px;
  max-width: 96px;
  border-radius: $border-radius-normal * 0.4;
  margin: $padding-normal;

  cursor: pointer;

  @media screen and (min-width:610px) {
    margin: $padding-large;
  }

  h1 { 
    font-size: 16px;
  }

  h2 {
    font-size: 12px;
  }

  h4 {
    display: none;
  }
}

.nametag-top {
  color: $white;
  height: 30%;
  border-radius: $border-radius-normal $border-radius-normal 0 0;
}

.nametag-middle {
  background-color: $white;
  color: $black;
  font-size: 20pt;
  height: 50%;
}

.nametag-underline {
  border-top: 4px solid $black;
  width: 80%;
}

.nametag-bottom {
  color: $white;
  height: 20%;
  border-radius: 0 0 $border-radius-normal $border-radius-normal;
}

/* Under Construction Page */
.under-construction-text {
  width: 80vw;
  max-width: 400px;
}


/* Generic classes */
.content-accented {
  border-radius: $border-radius-normal;
  background-color: rgba(255, 255, 255, 0.5);
  padding: $padding-largest;
  width: 70vw;
  max-width: 700px;
}

.content {
  // border-radius: $border-radius-normal;
  // background-color: rgba(255, 255, 255, 0.5);
  padding: $padding-largest;
  width: 70vw;
  max-width: 700px;
}

.gleichsnerd {
  font-family: 'Coming Soon', cursive;
}

.float-right {
  float: right;
}

.list-auto {
  column-width: 100px;
}

.align-items {
  &-center {
    align-items: center;
  }
}

.project-tile {
  @extend .content-accented;
  padding: 0;
  width: 20vmin;
  min-width: 150px;
  height: 20vmin;
  min-height: 150px;
  border: 2px solid $light-blue;
}

.project-page {
  @extend .padding-largest;
  
  width: 80vw;

  @media screen and (min-width:610px) {
    min-width: 500px;
    max-height: 70vh;
  }

  max-height: 85vh;
  max-width: 750px;
  
  // min-height: 400px;
}

.scroll-container.project-description {
  max-height: 40vh;

  @media screen and (max-height:400px) {
    max-height: 200px;
  }

  @media screen and (min-width:610px) {
    max-height: 60vh;
  }
}

.scroll-container {
  display: flex;
  flex-grow: 2;
  overflow: auto;
  max-width: 100%;
  max-height: 100%;
}

.pdf {
  height: 100vmin;
}

a.active {

  // @media screen and (max-width: 609px) {
    border-bottom: 4px solid $white;
  // }

  @media screen and (min-width: 610px) {
    border-bottom: 0 none;
    border-left: 4px solid $white;
  }

}

.margin-auto {
  margin: auto;
}