/* Sizes */

$image-normal: 25vmax;


$padding-smallest: 2px;
$padding-smaller: 4px;
$padding-small: 6px;
$padding-normal: 8px;
$padding-large: 10px;
$padding-larger: 15px;
$padding-largest: 25px;

$border-radius-normal: 11.25px;


$black: #00171F;
$white: #F7FCFF;
$dark-blue: #003459;
$light-blue: #A2DFF6;