/* Sizes */

$image-smallest: 10vmax;
$image-smaller: 15vmax;
$image-small: 20vmax;
$image-normal: 25vmax;

$icon-normal: 12pt;

$padding-smallest: 2px;
$padding-smaller: 4px;
$padding-small: 6px;
$padding-normal: 8px;
$padding-large: 10px;
$padding-larger: 15px;
$padding-largest: 25px;

$border-radius-normal: 11.25px;


$black: #00171F;
$white: #F7FCFF;
$dark-blue: #003459;
$light-blue: #61c6ec;

$light-red: #ED5A5A;